body {
    font-family: "Karla", sans-serif;
    margin: 0;
    width: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
  }
  .menu {
    margin: 0px 10px;
    text-decoration: none;
  }
  .decision {
    display: flex;
    justify-content: center;
    padding: 0px 100px;
  }
  button {
    background-color: #f06058;
    width: 150px;
    padding: 15px 0px;
    border: #f06058;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  a:link {
    color: #354b89;
  }
  a:visited {
    color: #354b89;
  }
  a:hover {
    color: #354b89;
  }
  a:active {
    color: #354b89;
  }
  .part2 {
    background-color: #354b89;
    height: 140vh;
    padding: 100px 100px;
  }
  .image {
    display: flex;
    justify-content: space-between;
  }
  .custom {
    color: #fff;
    font-size: 24px;
    padding-top: 40px;
  }
  .computer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 100px;
    padding-right: 70px;
  }
  .part3 {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
  }
  .gray {
    background-color: rgb(238, 236, 236);
    padding: 50px 100px;
  }
  h2 {
    font-size: 30px;
  }
  .services {
    text-align: center;
  }
  .job {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
  }
  .job:hover {
    box-shadow: 0 4px 20px rgba(141, 137, 137, 0.4);
    border-color: white;
  }
  .boxes {
    border: 1px solid white;
    background-color: #fff;
    border-radius: 10px;
    width: 200px;
    margin: 0px 10px;
    padding: 20px 30px;
  }
  .boxes:hover {
    /* box-shadow:0 4px 20px rgba(85, 84, 84, 0.4); */
    box-shadow: 0 4px 20px rgba(141, 137, 137, 0.4);
    border-color: white;
  }
  .client {
    display: flex;
    justify-content: center;
  }
  img {
    margin: 10px;
  }
  .trust {
    padding: 50px 0px;
  }
  .testimonial {
    background-color: #384f8d;
    color: #fff;
    padding: 50px 100px;
  }
  .name {
    display: flex;
    justify-content: left;
  }
  .speech {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  .speaker {
    border: 1px solid #fff;
    color: gray;
    background-color: #fff;
    padding: 20px 30px;
    margin: 0px 10px;
    font-size: 14px;
  }
  .computer{
    width: 120%;
  }
  .logo {
    width: 150px;
  }
  .signin {
    width: 100px;
    background-color: #fff;
    color: #354b89;
    border: 1px solid #354b89;
    padding: 10px;
  }
  .make {
    color: #354b89;
    font-size: 40px;
  }
  .business {
    color: #f06058;
    font-size: 20px;
  }
  .lorem {
    color: #324068;
  }
  .first {
    padding-top: 30px;
  }
  .advance {
    padding-top: 60px;
    font-size: 24px;
  }
  .partners {
    font-size: 30px;
  }
  hr {
    width: 20%;
    float: left;
  }
  .empower {
    font-size: 18px;
    color: gray;
  }
  .lorem2 {
    color: gray;
  }
  .trusted {
    text-align: center;
  }
  .clientpic {
    width: 150px;
    height: 50px;
    padding-top: 45px;
  }
  .companylogo {
    width: 150px;
  }
  .mary {
    color: black;
    font-size: 16px;
  }
  .jane {
    color: gray;
  }
  .footer {
    text-align: center;
    font-size: 40px;
  }
  .bottombtn {
    text-align: center;
  }
  .talk {
    background-color: #fff;
    color: black;
    align-self: center;
  }
  .copyright {
    text-align: center;
    padding: 50px 0px;
  }
   .line {
    font-size: 20px
  }
  @media only screen and (min-width: 992px) {
      
  }