body{
    background-color: #e4e1e1;
    font-family:  'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-image: url(./student.jpg); */
    /* background-image: linear-gradient(90deg, #fafafa 100%, white 0%), */
    /* url(./student.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat;
    background-position: center; */
}
.signup{
    background-color: #fff;
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding:30px 40px;
    font-size: 16px;
    
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
a{
    text-decoration: none;
}
a:link{color: #fff;}
a:visited{color:  #fff;}
a:active{columns:  #fff;}
a:hover{color:  #fff;}
.hi{
    font-size: 20px;
    text-align: center;
}
.welcome{
    font-size: 14px;
    color: gray;
    margin:10px 0px;
    text-align: center;
}
input{
    width: auto;
    min-height: 30px;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
    border: 1px solid rgb(20, 20, 20);
    outline: none;
    padding-left: 15px;
    margin-bottom: 20px;
}
label{ 
    font-size: 14px;
    color: rgb(20, 20, 20);
}
.button{
    border: 1px solid black;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding:20px 0px;
    cursor: pointer;
}
/* .name{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.name2{
    display: flex;
    flex-direction: column;
} */
.name{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 10px;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 992px) {
    .signup{ width: auto;
           }
     body{
         background-color: white;
         width: 100%;
         height: 100%;
     }
 }
 @media screen and (max-width: 600px) {
    .name{
        grid-template-columns:auto;
    }
    body{
        font-size: 10px;
    }
}